<%= stylesheet_link_tag "showForm" %>

<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Grille d'évaluation vierge</span>
</div>

<form>
  <div class="m-4 pt-4">

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Instructions</span>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex my-1">
            <div class="requis px-5">
              <input type="radio" disabled>
            </div>
            <label class="formLabel mx-2"> Compétence requise </label>
          </div>
          <div class="d-flex my-1">
            <span>Vous devez évaluer chaque compétence en fonction du niveau que vous estimez acquis</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Informations générales</span>
        </div>
        <div class="d-flex flex-column align-items-start">

<% @data.each do |key, value|
  if (key != 'sections' && key != 'commentaire') then %>

          <div class="my-2">
            <label for="<%=key %>" class="capitalized formLabel text-mediumblue mx-3"> <%=key %> : </label>
            <input id="<%=key %>" class="formInput" type="text" readonly> <br/>
          </div>

  <% end
end %>

        </div>
      </div>
    </div>

<% @data['sections'].each_with_index { |valueData, indexData|%>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class=""><%= valueData['titre'] %></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>

  <% valueData['choix'].each do |valueChoix| %>
            <th class="text-center text-mediumblue"><%= valueChoix %></th>
  <% end %>

            </tr>
          </thead>
          <tbody>

  <% valueData['competences'].each do |valueComp| %>

            <tr>
              <td class="text-mediumblue"> <%= valueComp['intitule'] %> </td>

    <% valueData['choix'].each_with_index { |val, index|
      if index == valueComp['requis'] then %>

              <td class="text-center">
                <div class="requis">
                  <input type="radio" name="<%= valueComp['intitule'] %>" disabled>
                </div>
              </td>

      <% else %>

              <td class="text-center">
                <input type="radio" name="<%= valueComp['intitule'] %>" disabled>
              </td>

      <% end
    } %>

            </tr>

  <% end %>

          </tbody>
        </table>
      </div>
    </div>

<% }

 if @data.has_key?('commentaire') then %>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Commentaire</span>
        </div>
        <div class="d-flex">
          <textarea cols="500" readonly></textarea>
        </div>
      </div>
    </div>

<% end %>

  </div>
</form>

<div class="d-flex justify-content-center py-2 pb-5">
  <span class="btn btn-round">Télécharger</span>
</div>