<span class="mx-4 uppercase font-bold">TEST DE LA PAGE AUTOEVALUATION</span>

<%= stylesheet_link_tag "showForm" %>

<form>
  <div class="m-4">

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Instructions</span>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex my-1">
            <div class="requis px-4">
              <input type="radio">
            </div>
            <label class="formLabel mx-2"> Compétence requise </label>
          </div>
          <div class="d-flex my-1">
            <span>Vous devez évaluer chaque compétence en fonction du niveau que vous estimez avoir acquis</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class="uppercase font-bold text-darkgrey">Informations générales</span>
        </div>
        <div class="d-flex flex-column align-items-center">

<% @data.each do |key, value|
  if (key != 'data') then %>

          <div class="my-2">
            <label for="<%=key %>" class="capitalized formLabel"> <%=key %> : </label>
            <input id="<%=key %>" class="formInput" type="text" value="<%=value %>"> <br/>
          </div>

  <% end
end %>

        </div>
      </div>
    </div>

<% @data['data'].each do |valueData|%>

    <div class="section">
      <div class="block">
        <div class="sous-titre">
          <span class=""><%= valueData['titre'] %></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>

  <% valueData['choix'].each do |valueChoix| %>
            <th class="text-center text-mediumblue"><%= valueChoix %></th>
  <% end %>

            </tr>
          </thead>
          <tbody>

  <% valueData['competences'].each do |valueComp| %>

            <tr>
              <td class="text-mediumblue"> <%= valueComp['intitule'] %> </td>

    <% valueData['choix'].each_with_index { |val, index|
      if index == valueComp['requis'] then %>

              <td class="text-center">
                <div class="requis">
                  <input type="radio" name="<%= valueComp['intitule'] %>">
                </div>
              </td>

      <% else %>

              <td class="text-center">
                <input type="radio" name="<%= valueComp['intitule'] %>">
              </td>

      <% end
    } %>

            </tr>

  <% end %>

          </tbody>
        </table>
      </div>
    </div>

<% end %>

  </div>
</form>

<div class="d-flex justify-content-center py-2 pb-4">
  <span class="btn bg-purple text-white px-5">Soumettre</span>
</div>