<%= stylesheet_link_tag "statistiques.css" %>
<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Statistiques</span>
</div>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        <span class="uppercase font-bold text-darkgrey">Auto Evaluation </span>
        <div class="row">
          <div class="col-lg-6 mb-4 px-5">
            <div class="card shadow mb-4 mx-5">
              <div class="card-header py-3">
                <h6>Pourcentage des étudiants ayant déjà rempli la fiche d'auto-evaluation</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <img class="img" <%= image_tag(image_url('check.PNG'), class: 'image') %>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <h6 class="m-0 font-weight-bold text-primary">10%</h6>
                  </div>
                </div>
                <div class="container drop pt-5 pb-3">
                  <select class="dropdown" name="promo" required>
                    <option value="" disabled selected>filtrer par</option>
                    <option class="dropdown-item">L3 MIAGE</option>
                    <option class="dropdown-item">M1 MIAGE</option>
                    <option class="dropdown-item">M2 MIAGE</option>
                  </select>
                </div>
                <a target="_blank" rel="nofollow" href="">Voir la liste des etudiants qui ne l'ont pas effectué</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4 px-5">
            <div class="card shadow mb-4 mx-5">
              <div class="card-header py-3">
                <h6>Pourcentage des étudiants ayant déjà rempli la fiche d'auto-evaluation finale</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <img class="img" <%= image_tag(image_url('check.PNG'), class: 'image') %>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <h6 class="m-0 font-weight-bold text-primary">2%</h6>
                  </div>
                </div>
                <div class="container drop pt-5 pb-3">
                  <select class="dropdown" name="promo" required>
                    <option value="" disabled selected>filtrer par</option>
                    <option class="dropdown-item">L3 MIAGE</option>
                    <option class="dropdown-item">M1 MIAGE</option>
                    <option class="dropdown-item">M2 MIAGE</option>
                  </select>
                </div>
                <a target="_blank" rel="nofollow" href="">Voir la liste des etudiants qui ne l'ont pas effectué</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
      <span class="uppercase font-bold text-darkgrey">Visite En entreprise- Grille d'évaluation et de notation finale </span>
      <div class="row">
        <div class="col-lg-6 mb-4 px-5">
          <div class="card shadow mb-4 mx-5">
            <div class="card-header py-3">
              <h6>Pourcentage des visite en entreprise effectuées (grilles d'évaluation remplies)</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <img class="img" <%= image_tag(image_url('check.PNG'), class: 'image') %>
                </div>
                <div class="col-lg-6 mb-4">
                  <h6 class="m-0 font-weight-bold text-primary">5%</h6>
                </div>
              </div>
              <div class="container drop pt-5 pb-3">
                <select class="dropdown" name="promo" required>
                  <option value="" disabled selected>filtrer par</option>
                  <option class="dropdown-item">L3 MIAGE</option>
                  <option class="dropdown-item">M1 MIAGE</option>
                  <option class="dropdown-item">M2 MIAGE</option>
                </select>
              </div>
              <a target="_blank" rel="nofollow" href="">Voir la liste des responsables qui ne l'ont pas effectué</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4 px-5">
          <div class="card shadow mb-4 mx-5">
            <div class="card-header py-3">
              <h6>Pourcentage des responsables pédagogiques ayant soumis la grille de notation finale</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <img class="img" <%= image_tag(image_url('check.PNG'), class: 'image') %>
                </div>
                <div class="col-lg-6 mb-4">
                  <h6 class="m-0 font-weight-bold text-primary">70%</h6>
                </div>
              </div>
              <div class="container drop pt-5 pb-3">
                <select class="dropdown" name="promo" required>
                  <option value="" disabled selected>filtrer par</option>
                  <option class="dropdown-item">L3 MIAGE</option>
                  <option class="dropdown-item">M1 MIAGE</option>
                  <option class="dropdown-item">M2 MIAGE</option>
                </select>
              </div>
              <a target="_blank" rel="nofollow" href="">Voir la liste des responsables qui ne l'ont pas effectué</a>
            </div>
          </div>
        </div>
      </div>
      <span class="uppercase font-bold text-darkgrey">Notation d'entreprise </span>
      <div class="row">
        <div class="col-lg-6 mb-4 px-5">
          <div class="card shadow mb-4 mx-5">
            <div class="card-header py-3">
              <h6>Poucentage des etudiants dont les notes d’entreprise ont été attribuées</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <img class="img" <%= image_tag(image_url('check.PNG'), class: 'image') %>
                </div>
                <div class="col-lg-6 mb-4">
                  <h6 class="m-0 font-weight-bold text-primary">10%</h6>
                </div>
              </div>
              <div class="container drop pt-5 pb-3">
                <select class="dropdown" name="promo" required>
                  <option value="" disabled selected>filtrer par</option>
                  <option class="dropdown-item">L3 MIAGE</option>
                  <option class="dropdown-item">M1 MIAGE</option>
                  <option class="dropdown-item">M2 MIAGE</option>
                </select>
              </div>
              <a target="_blank" rel="nofollow" href="">Voir la liste des responsables qui ne l'ont pas effectué</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4 px-5">
          <div class="card shadow mb-4 mx-5">
            <div class="card-header py-3">
              <h6>statistiques sur les notes des étudiants</h6>
            </div>
            <%= pie_chart @data, colors: ['#337198', '#f15b28', '#38b449']%>
            <a target="_blank" rel="nofollow" href="">Voir la liste des étudiants qui n'ont pas reçu de note</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




